### Employment

To-do's:
- Rename columns
- Drop first row
- Drop last two columns
- Check if the totals in Labor force participation and Unemployment rate are adding up male and female values.
- If so, drop the female + male rows.
- Check empty values.
- Reset index.

In [1]:
import pandas as pd
import numpy as np
import pycountry

df3 = pd.read_csv('../data/raw/SYB66_329_202310_Labour_unem.csv', encoding='iso-8859-1')
display(df3)

,T17,Labour force participation and unemployment,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Region/Country/Area,NaN,Year,Series,Value,Footnotes,Source
1,1,"Total, all countries or areas",2005,Labour force participation - Total,62.9,Estimate.,"International Labour Organization (ILO), Genev..."
2,1,"Total, all countries or areas",2005,Unemployment rate - Total,6.3,Estimate.,"International Labour Organization (ILO), Genev..."
3,1,"Total, all countries or areas",2005,Labour force participation - Male,76.1,Estimate.,"International Labour Organization (ILO), Genev..."
4,1,"Total, all countries or areas",2005,Unemployment rate - Male,6.2,Estimate.,"International Labour Organization (ILO), Genev..."
...,...,...,...,...,...,...,...
5482,97,European Union (EU),2023,Unemployment rate - Total,6.3,Estimate.,"International Labour Organization (ILO), Genev..."
5483,97,European Union (EU),2023,Labour force participation - Male,63.9,Estimate.,"International Labour Organization (ILO), Genev..."
5484,97,European Union (EU),2023,Unemployment rate - Male,6.0,Estimate.,"International Labour Organization (ILO), Genev..."
5485,97,European Union (EU),2023,Labour force participation - Female,51.7,Estimate.,"International Labour Organization (ILO), Genev..."
5486,97,European Union (EU),2023,Unemployment rate - Female,6.7,Estimate.,"International Labour Organization (ILO), Genev..."

In [2]:
print(df3.columns)

Index(['T17', 'Labour force participation and unemployment', 'Unnamed: 2',
       'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6'],
      dtype='object')

### Rows and Columns
- Drop row with index 0
- Drop last two columns
- Rename columns

In [3]:
df3 = df3.drop(0, errors='ignore')
df3 = df3.drop(['Unnamed: 5', 'Unnamed: 6'], axis=1)
display(df3)
print(df3.index)

,T17,Labour force participation and unemployment,Unnamed: 2,Unnamed: 3,Unnamed: 4
1,1,"Total, all countries or areas",2005,Labour force participation - Total,62.9
2,1,"Total, all countries or areas",2005,Unemployment rate - Total,6.3
3,1,"Total, all countries or areas",2005,Labour force participation - Male,76.1
4,1,"Total, all countries or areas",2005,Unemployment rate - Male,6.2
5,1,"Total, all countries or areas",2005,Labour force participation - Female,49.8
...,...,...,...,...,...
5482,97,European Union (EU),2023,Unemployment rate - Total,6.3
5483,97,European Union (EU),2023,Labour force participation - Male,63.9
5484,97,European Union (EU),2023,Unemployment rate - Male,6.0
5485,97,European Union (EU),2023,Labour force participation - Female,51.7
5486,97,European Union (EU),2023,Unemployment rate - Female,6.7

RangeIndex(start=1, stop=5487, step=1)

In [4]:
df3 = df3.rename(columns= {
    'T17': 'country_code',
    'Labour force participation and unemployment': 'participation_area',
    'Unnamed: 2': 'year',
    'Unnamed: 3': 'statistic_type',
    'Unnamed: 4': 'statistic_value',
})

### Remove rows for gender specific statistic (the total equivalent for each year sums it up)

In [5]:
rows_to_drop = ['Labour force participation - Female', 'Labour force participation - Male', 'Unemployment rate - Female', 'Unemployment rate - Male']
df3 = df3[~df3['statistic_type'].isin(rows_to_drop)]

### Country codes
- Find unique values
- Use `pycountry` to find the equivalent names
- Add 'area' column with the names
- Identify the ones with 'Unknown' value comparing them with the 'participation_area'
- Create replacement dictionary, implement it

In [6]:
df3['country_code'].unique()

array(['1', '2', '15', '202', '14', '17', '18', '11', '19', '21', '419',
       '29', '13', '5', '143', '30', '35', '34', '145', '134', '151',
       '154', '39', '155', '9', '4', '8', '12', '16', '24', '32', '51',
       '533', '36', '40', '31', '44', '48', '50', '52', '112', '56', '84',
       '204', '60', '64', '68', '70', '72', '76', '96', '100', '854',
       '108', '132', '116', '120', '124', '136', '140', '148', '830',
       '152', '156', '344', '446', '170', '174', '178', '184', '188',
       '384', '191', '192', '531', '196', '203', '408', '180', '208',
       '262', '214', '218', '818', '222', '226', '232', '233', '748',
       '231', '238', '234', '242', '246', '250', '254', '258', '266',
       '270', '268', '276', '288', '300', '304', '312', '316', '320',
       '324', '624', '328', '332', '340', '348', '352', '356', '360',
       '364', '368', '372', '833', '376', '380', '388', '392', '400',
       '398', '404', '296', '412', '414', '417', '418', '428', '422',
       '426', '430', '434', '438', '440', '442', '450', '454', '458',
       '462', '466', '470', '584', '474', '478', '480', '484', '492',
       '496', '499', '500', '504', '508', '104', '516', '520', '524',
       '528', '530', '540', '554', '558', '562', '566', '570', '807',
       '580', '578', '512', '586', '585', '591', '598', '600', '604',
       '608', '616', '620', '630', '634', '410', '498', '638', '642',
       '643', '646', '659', '662', '670', '882', '674', '678', '682',
       '686', '688', '690', '694', '702', '703', '705', '90', '706',
       '710', '728', '724', '144', '275', '729', '740', '752', '756',
       '760', '762', '764', '626', '768', '776', '780', '788', '792',
       '795', '796', '800', '804', '784', '826', '834', '840', '850',
       '858', '860', '548', '862', '704', '732', '887', '894', '716',
       '97'], dtype=object)

In [7]:
country_codes = ['1', '2', '15', '202', '14', '17', '18', '11', '19', '21', '419',
       '29', '13', '5', '143', '30', '35', '34', '145', '134', '151',
       '154', '39', '155', '9', '4', '8', '12', '16', '24', '32', '51',
       '533', '36', '40', '31', '44', '48', '50', '52', '112', '56', '84',
       '204', '60', '64', '68', '70', '72', '76', '96', '100', '854',
       '108', '132', '116', '120', '124', '136', '140', '148', '830',
       '152', '156', '344', '446', '170', '174', '178', '184', '188',
       '384', '191', '192', '531', '196', '203', '408', '180', '208',
       '262', '214', '218', '818', '222', '226', '232', '233', '748',
       '231', '238', '234', '242', '246', '250', '254', '258', '266',
       '270', '268', '276', '288', '300', '304', '312', '316', '320',
       '324', '624', '328', '332', '340', '348', '352', '356', '360',
       '364', '368', '372', '833', '376', '380', '388', '392', '400',
       '398', '404', '296', '412', '414', '417', '418', '428', '422',
       '426', '430', '434', '438', '440', '442', '450', '454', '458',
       '462', '466', '470', '584', '474', '478', '480', '484', '492',
       '496', '499', '500', '504', '508', '104', '516', '520', '524',
       '528', '530', '540', '554', '558', '562', '566', '570', '807',
       '580', '578', '512', '586', '585', '591', '598', '600', '604',
       '608', '616', '620', '630', '634', '410', '498', '638', '642',
       '643', '646', '659', '662', '670', '882', '674', '678', '682',
       '686', '688', '690', '694', '702', '703', '705', '90', '706',
       '710', '728', '724', '144', '275', '729', '740', '752', '756',
       '760', '762', '764', '626', '768', '776', '780', '788', '792',
       '795', '796', '800', '804', '784', '826', '834', '840', '850',
       '858', '860', '548', '862', '704', '732', '887', '894', '716',
       '97']

def transform_country_codes(code):
    if len(code) ==1:
        return '00' + code
    elif len(code) == 2:
        return '0' + code
    return code

country_codes = [transform_country_codes(code) for code in country_codes]

def get_country_name(country_code):
    try:
        # Check for the country code in pycountry
        country = pycountry.countries.get(numeric=country_code)
        if not country:
            country = pycountry.countries.get(alpha_2=country_code)
        return country.name if country else "Unknown"
    except KeyError:
        return "Unknown"

# Convert country codes to country names
country_names = [get_country_name(code) for code in country_codes]

# Print the country names
for code, name in zip(country_codes, country_names):
    print(f"Country Code: {code} -> Country Name: {name}")

Country Code: 001 -> Country Name: Unknown
Country Code: 002 -> Country Name: Unknown
Country Code: 015 -> Country Name: Unknown
Country Code: 202 -> Country Name: Unknown
Country Code: 014 -> Country Name: Unknown
Country Code: 017 -> Country Name: Unknown
Country Code: 018 -> Country Name: Unknown
Country Code: 011 -> Country Name: Unknown
Country Code: 019 -> Country Name: Unknown
Country Code: 021 -> Country Name: Unknown
Country Code: 419 -> Country Name: Unknown
Country Code: 029 -> Country Name: Unknown
Country Code: 013 -> Country Name: Unknown
Country Code: 005 -> Country Name: Unknown
Country Code: 143 -> Country Name: Unknown
Country Code: 030 -> Country Name: Unknown
Country Code: 035 -> Country Name: Unknown
Country Code: 034 -> Country Name: Unknown
Country Code: 145 -> Country Name: Unknown
Country Code: 134 -> Country Name: Unknown
Country Code: 151 -> Country Name: Unknown
Country Code: 154 -> Country Name: Unknown
Country Code: 039 -> Country Name: Unknown
Country Code: 155 -> Country Name: Unknown
Country Code: 009 -> Country Name: Unknown
Country Code: 004 -> Country Name: Afghanistan
Country Code: 008 -> Country Name: Albania
Country Code: 012 -> Country Name: Algeria
Country Code: 016 -> Country Name: American Samoa
Country Code: 024 -> Country Name: Angola
Country Code: 032 -> Country Name: Argentina
Country Code: 051 -> Country Name: Armenia
Country Code: 533 -> Country Name: Aruba
Country Code: 036 -> Country Name: Australia
Country Code: 040 -> Country Name: Austria
Country Code: 031 -> Country Name: Azerbaijan
Country Code: 044 -> Country Name: Bahamas
Country Code: 048 -> Country Name: Bahrain
Country Code: 050 -> Country Name: Bangladesh
Country Code: 052 -> Country Name: Barbados
Country Code: 112 -> Country Name: Belarus
Country Code: 056 -> Country Name: Belgium
Country Code: 084 -> Country Name: Belize
Country Code: 204 -> Country Name: Benin
Country Code: 060 -> Country Name: Bermuda
Country Code: 064 -> Country Name: Bhutan
Country Code: 068 -> Country Name: Bolivia, Plurinational State of
Country Code: 070 -> Country Name: Bosnia and Herzegovina
Country Code: 072 -> Country Name: Botswana
Country Code: 076 -> Country Name: Brazil
Country Code: 096 -> Country Name: Brunei Darussalam
Country Code: 100 -> Country Name: Bulgaria
Country Code: 854 -> Country Name: Burkina Faso
Country Code: 108 -> Country Name: Burundi
Country Code: 132 -> Country Name: Cabo Verde
Country Code: 116 -> Country Name: Cambodia
Country Code: 120 -> Country Name: Cameroon
Country Code: 124 -> Country Name: Canada
Country Code: 136 -> Country Name: Cayman Islands
Country Code: 140 -> Country Name: Central African Republic
Country Code: 148 -> Country Name: Chad
Country Code: 830 -> Country Name: Unknown
Country Code: 152 -> Country Name: Chile
Country Code: 156 -> Country Name: China
Country Code: 344 -> Country Name: Hong Kong
Country Code: 446 -> Country Name: Macao
Country Code: 170 -> Country Name: Colombia
Country Code: 174 -> Country Name: Comoros
Country Code: 178 -> Country Name: Congo
Country Code: 184 -> Country Name: Cook Islands
Country Code: 188 -> Country Name: Costa Rica
Country Code: 384 -> Country Name: Côte d'Ivoire
Country Code: 191 -> Country Name: Croatia
Country Code: 192 -> Country Name: Cuba
Country Code: 531 -> Country Name: Curaçao
Country Code: 196 -> Country Name: Cyprus
Country Code: 203 -> Country Name: Czechia
Country Code: 408 -> Country Name: Korea, Democratic People's Republic of
Country Code: 180 -> Country Name: Congo, The Democratic Republic of the
Country Code: 208 -> Country Name: Denmark
Country Code: 262 -> Country Name: Djibouti
Country Code: 214 -> Country Name: Dominican Republic
Country Code: 218 -> Country Name: Ecuador
Country Code: 818 -> Country Name: Egypt
Country Code: 222 -> Country Name: El Salvador
Country Code: 226 -> Country Name: Equatorial Guinea
Country Code: 232 -> Country Name: Eritrea
Country Code: 233 -> Country Name: Estonia
Country Code: 748 -> Country Name: Eswatini
Country Code: 231 -> Country Name: Ethiopia
Country Code: 238 -> Country Name: Falkland Islands (Malvinas)
Country Code: 234 -> Country Name: Faroe Islands
Country Code: 242 -> Country Name: Fiji
Country Code: 246 -> Country Name: Finland
Country Code: 250 -> Country Name: France
Country Code: 254 -> Country Name: French Guiana
Country Code: 258 -> Country Name: French Polynesia
Country Code: 266 -> Country Name: Gabon
Country Code: 270 -> Country Name: Gambia
Country Code: 268 -> Country Name: Georgia
Country Code: 276 -> Country Name: Germany
Country Code: 288 -> Country Name: Ghana
Country Code: 300 -> Country Name: Greece
Country Code: 304 -> Country Name: Greenland
Country Code: 312 -> Country Name: Guadeloupe
Country Code: 316 -> Country Name: Guam
Country Code: 320 -> Country Name: Guatemala
Country Code: 324 -> Country Name: Guinea
Country Code: 624 -> Country Name: Guinea-Bissau
Country Code: 328 -> Country Name: Guyana
Country Code: 332 -> Country Name: Haiti
Country Code: 340 -> Country Name: Honduras
Country Code: 348 -> Country Name: Hungary
Country Code: 352 -> Country Name: Iceland
Country Code: 356 -> Country Name: India
Country Code: 360 -> Country Name: Indonesia
Country Code: 364 -> Country Name: Iran, Islamic Republic of
Country Code: 368 -> Country Name: Iraq
Country Code: 372 -> Country Name: Ireland
Country Code: 833 -> Country Name: Isle of Man
Country Code: 376 -> Country Name: Israel
Country Code: 380 -> Country Name: Italy
Country Code: 388 -> Country Name: Jamaica
Country Code: 392 -> Country Name: Japan
Country Code: 400 -> Country Name: Jordan
Country Code: 398 -> Country Name: Kazakhstan
Country Code: 404 -> Country Name: Kenya
Country Code: 296 -> Country Name: Kiribati
Country Code: 412 -> Country Name: Unknown
Country Code: 414 -> Country Name: Kuwait
Country Code: 417 -> Country Name: Kyrgyzstan
Country Code: 418 -> Country Name: Lao People's Democratic Republic
Country Code: 428 -> Country Name: Latvia
Country Code: 422 -> Country Name: Lebanon
Country Code: 426 -> Country Name: Lesotho
Country Code: 430 -> Country Name: Liberia
Country Code: 434 -> Country Name: Libya
Country Code: 438 -> Country Name: Liechtenstein
Country Code: 440 -> Country Name: Lithuania
Country Code: 442 -> Country Name: Luxembourg
Country Code: 450 -> Country Name: Madagascar
Country Code: 454 -> Country Name: Malawi
Country Code: 458 -> Country Name: Malaysia
Country Code: 462 -> Country Name: Maldives
Country Code: 466 -> Country Name: Mali
Country Code: 470 -> Country Name: Malta
Country Code: 584 -> Country Name: Marshall Islands
Country Code: 474 -> Country Name: Martinique
Country Code: 478 -> Country Name: Mauritania
Country Code: 480 -> Country Name: Mauritius
Country Code: 484 -> Country Name: Mexico
Country Code: 492 -> Country Name: Monaco
Country Code: 496 -> Country Name: Mongolia
Country Code: 499 -> Country Name: Montenegro
Country Code: 500 -> Country Name: Montserrat
Country Code: 504 -> Country Name: Morocco
Country Code: 508 -> Country Name: Mozambique
Country Code: 104 -> Country Name: Myanmar
Country Code: 516 -> Country Name: Namibia
Country Code: 520 -> Country Name: Nauru
Country Code: 524 -> Country Name: Nepal
Country Code: 528 -> Country Name: Netherlands
Country Code: 530 -> Country Name: Unknown
Country Code: 540 -> Country Name: New Caledonia
Country Code: 554 -> Country Name: New Zealand
Country Code: 558 -> Country Name: Nicaragua
Country Code: 562 -> Country Name: Niger
Country Code: 566 -> Country Name: Nigeria
Country Code: 570 -> Country Name: Niue
Country Code: 807 -> Country Name: North Macedonia
Country Code: 580 -> Country Name: Northern Mariana Islands
Country Code: 578 -> Country Name: Norway
Country Code: 512 -> Country Name: Oman
Country Code: 586 -> Country Name: Pakistan
Country Code: 585 -> Country Name: Palau
Country Code: 591 -> Country Name: Panama
Country Code: 598 -> Country Name: Papua New Guinea
Country Code: 600 -> Country Name: Paraguay
Country Code: 604 -> Country Name: Peru
Country Code: 608 -> Country Name: Philippines
Country Code: 616 -> Country Name: Poland
Country Code: 620 -> Country Name: Portugal
Country Code: 630 -> Country Name: Puerto Rico
Country Code: 634 -> Country Name: Qatar
Country Code: 410 -> Country Name: Korea, Republic of
Country Code: 498 -> Country Name: Moldova, Republic of
Country Code: 638 -> Country Name: Réunion
Country Code: 642 -> Country Name: Romania
Country Code: 643 -> Country Name: Russian Federation
Country Code: 646 -> Country Name: Rwanda
Country Code: 659 -> Country Name: Saint Kitts and Nevis
Country Code: 662 -> Country Name: Saint Lucia
Country Code: 670 -> Country Name: Saint Vincent and the Grenadines
Country Code: 882 -> Country Name: Samoa
Country Code: 674 -> Country Name: San Marino
Country Code: 678 -> Country Name: Sao Tome and Principe
Country Code: 682 -> Country Name: Saudi Arabia
Country Code: 686 -> Country Name: Senegal
Country Code: 688 -> Country Name: Serbia
Country Code: 690 -> Country Name: Seychelles
Country Code: 694 -> Country Name: Sierra Leone
Country Code: 702 -> Country Name: Singapore
Country Code: 703 -> Country Name: Slovakia
Country Code: 705 -> Country Name: Slovenia
Country Code: 090 -> Country Name: Solomon Islands
Country Code: 706 -> Country Name: Somalia
Country Code: 710 -> Country Name: South Africa
Country Code: 728 -> Country Name: South Sudan
Country Code: 724 -> Country Name: Spain
Country Code: 144 -> Country Name: Sri Lanka
Country Code: 275 -> Country Name: Palestine, State of
Country Code: 729 -> Country Name: Sudan
Country Code: 740 -> Country Name: Suriname
Country Code: 752 -> Country Name: Sweden
Country Code: 756 -> Country Name: Switzerland
Country Code: 760 -> Country Name: Syrian Arab Republic
Country Code: 762 -> Country Name: Tajikistan
Country Code: 764 -> Country Name: Thailand
Country Code: 626 -> Country Name: Timor-Leste
Country Code: 768 -> Country Name: Togo
Country Code: 776 -> Country Name: Tonga
Country Code: 780 -> Country Name: Trinidad and Tobago
Country Code: 788 -> Country Name: Tunisia
Country Code: 792 -> Country Name: Türkiye
Country Code: 795 -> Country Name: Turkmenistan
Country Code: 796 -> Country Name: Turks and Caicos Islands
Country Code: 800 -> Country Name: Uganda
Country Code: 804 -> Country Name: Ukraine
Country Code: 784 -> Country Name: United Arab Emirates
Country Code: 826 -> Country Name: United Kingdom
Country Code: 834 -> Country Name: Tanzania, United Republic of
Country Code: 840 -> Country Name: United States
Country Code: 850 -> Country Name: Virgin Islands, U.S.
Country Code: 858 -> Country Name: Uruguay
Country Code: 860 -> Country Name: Uzbekistan
Country Code: 548 -> Country Name: Vanuatu
Country Code: 862 -> Country Name: Venezuela, Bolivarian Republic of
Country Code: 704 -> Country Name: Viet Nam
Country Code: 732 -> Country Name: Western Sahara
Country Code: 887 -> Country Name: Yemen
Country Code: 894 -> Country Name: Zambia
Country Code: 716 -> Country Name: Zimbabwe
Country Code: 097 -> Country Name: Unknown

In [8]:
# try it on the country column

df3['country_code'] = df3['country_code'].apply(transform_country_codes)
df3['area'] = df3['country_code'].apply(get_country_name)

df3.tail(100)

,country_code,participation_area,year,statistic_type,statistic_value,area
5187,834,United Rep. of Tanzania,2015,Labour force participation - Total,84.0,"Tanzania, United Republic of"
5188,834,United Rep. of Tanzania,2015,Unemployment rate - Total,2.1,"Tanzania, United Republic of"
5193,834,United Rep. of Tanzania,2023,Labour force participation - Total,82.9,"Tanzania, United Republic of"
5194,834,United Rep. of Tanzania,2023,Unemployment rate - Total,2.9,"Tanzania, United Republic of"
5199,840,United States of America,2005,Labour force participation - Total,64.8,United States
...,...,...,...,...,...,...
5470,097,European Union (EU),2010,Unemployment rate - Total,9.8,Unknown
5475,097,European Union (EU),2015,Labour force participation - Total,56.8,Unknown
5476,097,European Union (EU),2015,Unemployment rate - Total,10.0,Unknown
5481,097,European Union (EU),2023,Labour force participation - Total,57.6,Unknown
5482,097,European Union (EU),2023,Unemployment rate - Total,6.3,Unknown

In [9]:
unknown_countries_df = df3[df3['area'] == 'Unknown']

# Print the filtered DataFrame
display(unknown_countries_df.head(13))
unknown_countries_df['country_code'].unique()

,country_code,participation_area,year,statistic_type,statistic_value,area
1,001,"Total, all countries or areas",2005,Labour force participation - Total,62.9,Unknown
2,001,"Total, all countries or areas",2005,Unemployment rate - Total,6.3,Unknown
7,001,"Total, all countries or areas",2010,Labour force participation - Total,62.0,Unknown
8,001,"Total, all countries or areas",2010,Unemployment rate - Total,6.3,Unknown
13,001,"Total, all countries or areas",2015,Labour force participation - Total,60.7,Unknown
14,001,"Total, all countries or areas",2015,Unemployment rate - Total,6.0,Unknown
19,001,"Total, all countries or areas",2023,Labour force participation - Total,59.7,Unknown
20,001,"Total, all countries or areas",2023,Unemployment rate - Total,5.8,Unknown
25,002,Africa,2005,Labour force participation - Total,64.4,Unknown
26,002,Africa,2005,Unemployment rate - Total,6.6,Unknown
31,002,Africa,2010,Labour force participation - Total,63.8,Unknown
32,002,Africa,2010,Unemployment rate - Total,6.5,Unknown
37,002,Africa,2015,Labour force participation - Total,62.7,Unknown

array(['001', '002', '015', '202', '014', '017', '018', '011', '019',
       '021', '419', '029', '013', '005', '143', '030', '035', '034',
       '145', '134', '151', '154', '039', '155', '009', '830', '412',
       '530', '097'], dtype=object)

In [10]:
# unknown_countries_df[unknown_countries_df['country_code'] == '015']

# Group by 'country_code' and display the 'participation_area' for each unique 'country_code'
grouped = unknown_countries_df.groupby('country_code')['participation_area'].apply(list).reset_index()

# Display the result
print(grouped)

   country_code                                 participation_area
0           001  [Total, all countries or areas, Total, all cou...
1           002  [Africa, Africa, Africa, Africa, Africa, Afric...
2           005  [South America, South America, South America, ...
3           009  [Oceania, Oceania, Oceania, Oceania, Oceania, ...
4           011  [Western Africa, Western Africa, Western Afric...
5           013  [Central America, Central America, Central Ame...
6           014  [Eastern Africa, Eastern Africa, Eastern Afric...
7           015  [Northern Africa, Northern Africa, Northern Af...
8           017  [Middle Africa, Middle Africa, Middle Africa, ...
9           018  [Southern Africa, Southern Africa, Southern Af...
10          019  [Americas, Americas, Americas, Americas, Ameri...
11          021  [Northern America, Northern America, Northern ...
12          029  [Caribbean, Caribbean, Caribbean, Caribbean, C...
13          030  [Eastern Asia, Eastern Asia, Eastern Asia, Eas...
14          034  [Southern Asia, Southern Asia, Southern Asia, ...
15          035  [South-eastern Asia, South-eastern Asia, South...
16          039  [Southern Europe, Southern Europe, Southern Eu...
17          097  [European Union (EU), European Union (EU), Eur...
18          134  [Caucasus, Caucasus, Caucasus, Caucasus, Cauca...
19          143  [Central Asia, Central Asia, Central Asia, Cen...
20          145  [Western Asia, Western Asia, Western Asia, Wes...
21          151  [Eastern Europe, Eastern Europe, Eastern Europ...
22          154  [Northern Europe, Northern Europe, Northern Eu...
23          155  [Western Europe, Western Europe, Western Europ...
24          202  [Sub-Saharan Africa, Sub-Saharan Africa, Sub-S...
25          412  [Kosovo, Kosovo, Kosovo, Kosovo, Kosovo, Kosov...
26          419  [Latin America & the Caribbean, Latin America ...
27          530  [Netherlands Antilles [former], Netherlands An...
28          830  [Channel Islands, Channel Islands, Channel Isl...

In [11]:
replace_dict = {
    "001": "Total, all countries or areas",
    "002": "Africa",
    "005": "South America",
    "009": "Oceania",
    "011": "Western Africa",
    "013": "Central America",
    "014": "Eastern Africa",
    "015": "Northern Africa",
    "017": "Middle Africa",
    "018": "Southern Africa",
    "019": "Americas",
    "021": "Northern America",
    "029": "Caribbean",
    "030": "Eastern Asia",
    "034": "Southern Asia",
    "035": "South-eastern Asia",
    "039": "Southern Europe",
    "097": "European Union (EU)",
    "134": "Caucasus",
    "143": "Central Asia",
    "145": "Western Asia",
    "151": "Eastern Europe",
    "154": "Northern Europe",
    "155": "Western Europe",
    "202": "Sub-Saharan Africa",
    "412": "Kosovo",
    "419": "Latin America & the Caribbean",
    "530": "Netherlands Antilles [former]",
    "830": "Channel Islands"
}